@import url('https://fonts.googleapis.com/css2?family=Poppins:ital  ,wght@0,200;0,300;0,400;0,500;0,700;1,600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --MAIN-COLOR: #ffff;
    --color-naranja: rgb(169, 50, 38);
    --color-secundario: rgba(97, 3, 29, 0.603);
    --color-box: rgb(255, 0, 0);
    --color-yellow: rgb(255, 230, 0);
    --color-amarillo: rgba(209, 192, 22);
    --color-black: rgb(0, 0, 0);
    --color-negro: rgb(34, 33, 29);
    --main-color: #f2f2f2;
    --text-color: #333;
    --color-primario: 0px 0px 10px #333;
    --color-verde: rgb(117, 218, 155);
}

* {
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 7%;
    background-color: var(--color-naranja);
    z-index: 90;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 9px;
    transition: 0.5s linear;
}

header.scrolled {
    transform: translateY(-100%);
}

@media only screen and (max-width: 768px) {
    header {
        padding: 10px 20px;
        height: auto;
    }

    .logo img {
        width: 60px;
        height: 57px;
        margin-left: 0;
    }

    .ul__nav {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin-top: 10px;
    }

    .ul__nav a {
        margin-right: 0;
        font-size: 14px;
    }

    .search {
        margin-right: 0;
    }

    .search_input {
        width: 150px;
    }
}

.heading {
    text-align: center;
}

.heading h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: 5px 10px;
}

.logo img {
    width: 88px;
    height: 83px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    margin-left: 36px;
}

.logo img:hover {
    transform: translate(0);

}

.ul__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    list-style: none;
}

.ul__nav a {
    position: relative;
    color: black;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: all 0.35s ease;
    font-size: 11px;
}

.ul__nav a::before,
.ul__nav a::after {
    position: absolute;
    height: 15px;
    width: 15px;
    content: '';
    transition: all 0.35s ease;
    opacity: 0;
}

.ul__nav a::before {
    right: 0;
    top: 35%;
    border-right: 3px solid #ffffff;
    border-top: 3px solid #ffffff;
    transform: translate(100%, -50%) rotate(45deg);
}

.ul__nav a::after {
    left: 0;
    top: 70%;
    border-left: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    transform: translate(-100%, -50%) rotate(45deg);
}

.ul__nav a:hover,
.ul__nav .home a {
    color: #ffffff;
}

.ul__nav a:hover::before,
.ul__nav .home a::before,
.ul__nav a:hover::after,
.ul__nav .home a::after {
    transform: translate(0%, -50%);
    opacity: 1;
}


/*-----------SEARCH----------------*/


.search {
    display: inline-flex;
    align-items: center;
    background-image: linear-gradient(45deg, #ffffff, #ffffff);
    color: #000000;
    padding: 10px;
    border-radius: 4px;
    margin-right: 130px;
}

.search input,
.search button {
    background: transparent;
    color: inherit;
    border: none;
    outline: none;
}

.search_input {
    width: 0;
    transition: width 0.5s;
}

.search_button {
    display: grid;
    place-items: center;
    width: 18px;
    height: 18px;
    cursor: pointer;
    transition: color .25s;
}

.search:focus-within .search_input {
    width: 200px;
}


/*----------CONTACTO- SLIDER----------*/
.my-class {
    margin-top: 76px;
    /* ajusta el valor según sea necesario */
    width: 100%;
    height: 50%;
    padding: 0;
    text-align: center;

}

.my-class .item {
    height: 100vh;
    position: relative;

}

.my-class .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.my-class .item .cover {
    padding: 75px 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;

}

.my-class .item .cover .header-content {
    position: relative;
    padding: 56px;
    overflow: hidden;
}

.my-class .item .cover .header-content .line {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    left: 34px;
    top: 0;
    position: absolute;
    border: 9px solid #fff;
    -webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
    clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
}

.my-class .item .cover .header-content h2 {
    font-weight: 300;
    font-size: 35px;
    color: #fff;
}

.my-class .item .cover .header-content h1 {
    font-size: 56px;
    font-weight: 600;
    margin: 5px 0 20px;
    word-spacing: 3px;
    color: #fff;
}

.my-class .item .cover .header-content h4 {
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    color: #fff;
}

.my-class .owl-item.active h1 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInDown;
    animation-delay: 0.3s;
}

.my-class .owl-item.active h2 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInDown;
    animation-delay: 0.3s;
}

.my-class .owl-item.active h4 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInUp;
    animation-delay: 0.3s;
}

.my-class .owl-item.active .line {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
    animation-delay: 0.3s;
}

.my-class .owl-nav .owl-prev {
    position: absolute;
    left: 15px;
    top: 43%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background: rgba(0, 0, 0, 0.5) !important;
    width: 40px;
    cursor: pointer;
    height: 40px;
    position: absolute;
    display: block;

    border-radius: 0;
}

.my-class .owl-nav .owl-prev span {
    font-size: 1.6875rem;
    color: #fff;
}

.my-class .owl-nav .owl-prev:focus {
    outline: 0;
}

.my-class .owl-nav .owl-prev:hover {
    background: #000 !important;
}

.my-class .owl-nav .owl-next {
    position: absolute;
    right: 15px;
    top: 43%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background: rgba(0, 0, 0, 0.5) !important;
    width: 40px;
    cursor: pointer;
    height: 40px;
    position: absolute;
    display: block;

    border-radius: 0;
}

.my-class .owl-nav .owl-next span {
    font-size: 1.6875rem;
    color: #fff;
}

.my-class .owl-nav .owl-next:focus {
    outline: 0;
}

.my-class .owl-nav .owl-next:hover {
    background: #000 !important;
}

.my-class:hover .owl-prev {
    left: 0px;
    opacity: 1;
}

.my-class:hover .owl-next {
    right: 0px;
    opacity: 1;
}

/*---------mapa-----------*/



.map-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    padding-top: 77px;
    max-width: 1412px;
    margin: 0 auto;
}

#map {
    height: 500px;
    width: 80%;
    margin-right: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

#map:hover {
    transform: translateX(10px);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

#mapahom {
    background-color: #f7f7f7;
}

.location-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -25%;
    margin-left: 40px;
}

.location-title {
    font-size: 49px;
    font-weight: bold;
    margin-bottom: -48px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.location-title:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.location-title:hover:before {
    opacity: 1;
}

.location-subtitle {
    font-size: 36px;
    font-weight: bold;
}

.location-text {
    font-size: 18px;
    color: #444;
    margin-top: 27px;
    font-family: sans-serif;
}

.location-icon {
    font-size: 24px;
    color: #ff0000;
    margin-right: 10px;
}

.location-address {
    display: flex;
    align-items: center;

}


@media screen and (max-width: 768px) {
    .map-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }

    #map {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .location-info {
        margin-top: 0;
    }
}






/*----------------FOOTER----------------------------------*/

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    background: #444;
    color: #fff;

    margin: 0 auto;
    /* centra el contenedor */
}


.footer-box h3 {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
}

.footer-box p {
    font-size: 0.93rem;
    margin-bottom: 10px;
    margin-top: 30px;
}

.libro-reclam {
    width: 149px;
    /* ajusta el tamaño a tu gusto */
    margin-top: 20px;
    margin-left: 35%;
    /* quita la margen izquierda */
}



/*----REDES SOCIALES-----*/
.cons {
    display: flex;
    gap: 20px;
    justify-content: center;
    /* centra los iconos horizontalmente */
    align-items: center;
    /* centra los iconos verticalmente */
    margin-left: 20px;
    margin-top: 50px;
    /* retrocede los iconos 20px */
}

.icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition: all 0.25s;
    margin-bottom: 50px;
    background-color: transparent;
    color: #fff;
}

.icon:hover {
    outline-offset: 4px;
    color: #f8f8f8;
    background-color: inherit;
}

.icon:hover i {
    animation: shake 0.25s;
}

.icon i {
    margin: 0;
}

.icon-facebook {
    background-color: #1877f2;
    /* Facebook blue */
}

.icon-facebook:hover {
    background: #1877f2;
}

.icon-twitter {
    background: #1da1f2;
    /* Twitter blue */
}

.icon-twitter:hover {
    background: #1da1f2;
}

.icon-instagram {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    /* Instagram pink */
}

.icon-tiktok {
    background: #010101;
    /* tono negro/gris oscuro */
    background: linear-gradient(45deg, #010101 30%, #0a0a0a 80%);
    /* degradado de negro/gris oscuro */
}


.icon-tiktok:hover {
    background: #080808;
}

.icon-tiktok i {
    font-size: 20px;
}


@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(-15deg);
    }

    40% {
        transform: rotate(-15deg);
    }
}

.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.contacto span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.phono {
    margin-right: 13rem;
}

.ema {
    margin-right: 10rem;
}

.contacto i {
    font-size: 20px;
    margin-right: 1rem;
}

p {
    text-align: center;
}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;

}

.whatsapp-float a {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #25d366;
    color: #fff;
    text-align: center;
    font-size: 24px;
    line-height: 60px;
    transition: all 0.3s ease-in-out;

    box-shadow: 0.5em 0.5em 1em var(--color-verde),
        -0.5em -0.5em 1em var(--color-verde),
        inset 0 0 0 transparent,
        inset 0 0 0 transparent,
        0.5em -0.5em 1em var(--color-verde),
        -0.5em 0.5em 1em var(--color-verde);
}


.whatsapp-float a:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .footer {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .footer-box {
        margin-top: 20px;
        text-align: center;
    }

    .libro-reclam {
        margin: 20px auto;
    }

    .cons {
        margin-left: 0;
        margin-top: 20px;
    }

    .phono,
    .ema {
        margin-right: 0;
    }
}